aside{
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background: var(--aside-header-bg);
  -webkit-backdrop-filter: var(--aside-blur);
  -moz-backdrop-filter: var(--aside-blur);
  backdrop-filter: var(--aside-blur);
  position: absolute;
  margin: auto;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  display: none;
  z-index: 1;
}

/**
* Animate the aside element when opening
*/
.open-aside{
  display: block;
  position: fixed;
  animation-name: animate-open-aside;
  animation-timing-function: ease;
  animation-duration: 30ms;
  animation-duration: 30ms;
  animation-fill-mode: forwards;
}

/**
* Animate the aside element when closing
*/
.close-aside{
  display: block;
  animation-name: animate-close-aside;
  animation-timing-function: ease;
  animation-delay: 10ms;
  animation-duration: 10ms;
  animation-fill-mode: forwards;
}

.aside-contents{
  /* background: red; */
  width: 80%;
  height: 50vh;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 35px;
}

.aside-contents > ul {
  list-style: none;
}

.aside-contents > ul a{
  text-decoration: none;
}

.aside-contents > ul a::after{
  content: "";
  height: 0.1em;
  background: var(--primary-color);
  display: block;
  width: 100%;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

.aside-contents > ul a:hover::after,
.aside-contents > ul a:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}

.aside-contents > ul li a::after {
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
}

.aside-contents > ul li a:hover::after,
.aside-contents > ul li a:focus::after{
  transform: scale(1);
}


.praise{
  width: 80%;
  height: 10vh;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.praise h1{
  font-size: 15px;
  font-family: serif;
}



@keyframes animate-open-aside {
  0%{
    border-radius: 50%;
    width: 0px;
    height: 0px;
  }
  
  50% {
    border-radius: 50%;
    width: 50%;
    height: 25vh;
  }
  
  100% {
    border-radius: 0%;
    width: 100%;
    height: 100vh;
  }
}


@keyframes animate-close-aside {
  
  0% {
    border-radius: 0%;
    width: 100%;
    height: 100vh;
    position: fixed;
  }
  
  50% {
    border-radius: 50%;
    width: 50%;
    height: 25vh;
  }
  
  100%{
    border-radius: 50%;
    width: 0%;
    height: 0vh;
    display: none
  }
}

