/* Header tag */
header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px 0px 10px;
  z-index: 2;
  background: var(--header-bg);
  -webkit-backdrop-filter: var(--header-blur);
  backdrop-filter: var(--header-blur);
  /* filter: var(--header-blur); */
}

.header-title-container{
  display: flex;
  align-items: center;
}

.header-title-container h1{
  font-family: var(--title-font-family);
}

.header-title-container #title-seperator, 
#sub-title {
  display: none;
  font-weight: normal;
  font-size: 15px;
  position: relative;
  bottom: 4px;
}

#sub-title {
  top: -1px;
}

.menu-btn-container{
  -webkit-tap-highlight-color: transparent;
}

.show-menu-btn, .close-menu-btn{
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  gap: 5px;
  cursor: pointer;
}

.close-menu-btn{
  transform: rotate(360deg);
  transition: transform 500ms ease 5ms;
}

/* .close-menu-btn:hover{
  animation: rotateMenuBtn 500ms ease 5ms;
} */

.show-menu-btn .menu-btn-line-1{
  display: none;
}

.show-menu-btn:hover .menu-btn-line-1{
  display: block;
  height: var(--menu-btn-line-height);
  
}

.show-menu-btn div{
  background: var(--menu-btn-line-bg);
  color: #fff;
  width: var(--menu-btn-line-width);
  height: var(--menu-btn-line-height);
  display: block;
}

.close-menu-btn .menu-btn-line-1{
  display: none;
}

.close-menu-btn div{
  background: var(--menu-btn-line-bg);
  width: var(--menu-btn-line-width);
  height: var(--menu-btn-line-height);
  display: block;
}

.close-menu-btn .menu-btn-line-2{
  transform: translate(0px, 0px) rotate(220deg);
  position: fixed;
}

.close-menu-btn .menu-btn-line-3{
  position: fixed;
  transform: translate(0px, 0px) rotate(-220deg);
}

@keyframes rotateMenuBtn {
  0%{
    transform: rotateZ(0deg);
  }

  100%{
    transform: rotateZ(360deg);
  }
}