@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

/* Global variables */
:root{
    --primary-bg-color: #FAF6F6;
    --secondary-bg-color: #020100;
    --primary-color: #000;
    --secondary-color: #fff;
    --primary-font-size: 18px;
    --primary-font-family: "Poppins", sans-serif;
    --title-font-family: "Comfortaa", sans-serif;
    --header-height: 10vh;
    --menu-btn-width: 40px;
    --menu-btn-height: 40px;
    --menu-btn-line-width: 20px;
    --menu-btn-line-height: 2px;
    --menu-btn-line-bg: #000;
    --aside-bg: rgb(20, 123, 182);
    --aside-blur: blur(50px);
    --header-bg: rgba(255, 255, 255, 0.2);
    --header-blur: blur(2px);
}

/* Change defaults */
*, 
::before, 
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--primary-color);
}




/* Style the body tag */
body{
    background: var(--primary-bg-color);
    font-size: var(--primary-font-size);
    font-family: var(--primary-font-family);
    height: 100vh;
    width: 100%;
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: red;  /*Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

::-webkit-scrollbar-corner{
    background-color: #202020;
}


@media (prefers-color-scheme: dark) {
    :root {
    --primary-bg-color: #1F2223;
    --secondary-bg-color: #FAF6F6;
    --primary-color: #fff;
    --secondary-color: #000;
    --menu-btn-line-bg: #fff !important;
    }

    #logo {
        content: url("../images/dark-logo.png");
    }
}