:root {
    --icon-background: rgba(70, 122, 248, 1);
    --icon-box-shadow: inset 1px 1px gray;
    --lang-icon-color: #fff;
}

/* Main tag */
main {
    width: 100%;
    z-index: -1;
    background: linear-gradient(to top right,
    rgba(70, 122, 248, 0.8),
    rgba(46, 103, 255, 1),
    rgba(65, 75, 186, 1));
    animation: animate-intro-bg 30s linear 0.5s infinite;
}

.intro-section {
    width: 100%;
    height: 100%;
    color: #fff;
}

@keyframes animate-intro-bg {
    0% {
        background: linear-gradient(to top right,
        rgba(70, 122, 248, 0.8),
        rgba(46, 103, 255, 1),
        rgba(65, 75, 186, 1));
    }

    20% {
        background: linear-gradient(to right,
        rgba(70, 122, 248, 0.8),
        rgba(46, 103, 255, 1),
        rgba(65, 75, 186, 1));
    }

    40% {
        background: linear-gradient(to bottom right,
        rgba(70, 122, 248, 0.8),
        rgba(46, 103, 255, 1),
        rgba(65, 75, 186, 1));
    }

    60% {
        background: linear-gradient(to bottom,
        rgba(70, 122, 248, 0.8),
        rgba(46, 103, 255, 1),
        rgba(65, 75, 186, 1));
    }

    80% {
        background: linear-gradient(to bottom left,
        rgba(70, 122, 248, 0.8),
        rgba(46, 103, 255, 1),
        rgba(65, 75, 186, 1));
    }

    100% {
        background: linear-gradient(to left,
        rgba(70, 122, 248, 0.8),
        rgba(46, 103, 255, 1),
        rgba(65, 75, 186, 1));
    }
}

.intro-contents {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    font-weight: 480;
    font-size: 1.5rem;
    font-family: "Roboto", "Poppins", sans-serif;
    padding-left: var(--global-left-padding);
}

.contents {
    width: 100%;
}


.inner-intro-contents-container {
    display: flex;
}


.intro-contents #hi {
    font-family: var(--sub-title-font-family), sans-serif;
    font-weight: var(--sub-title-font-weight);
}

.intro-contents p {
    color: #fff;
}

#hi {
    color: #fff;
    font-size: 5rem;
}

/*
 Create a design.
*/
.design-container {
    width: 100%;
    height: 100vh;
    z-index: -1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /*background: linear-gradient(
        to top right,
        rgba(70, 122, 248, 1),
        rgba(46, 103, 255, 1),
        rgba(65, 75, 186, 1)
    );*/
    filter: blur(20px);
}

/**
 * Subject
 */

.subject-container {
    /*background: darkred;*/
    /*background: rgba(70, 122, 248, 1);*/
    border-radius: 50px;
    width: inherit;
    display: inline-block;
    text-align: left;
    /*box-shadow: var(--icon-box-shadow);*/
}

#subject {
    display: inline-block;
    opacity: 0;
    color: rgba(8, 230, 116, 1);
    transform: translateY(30px);
    animation: animate-field 2s ease 0.1s infinite;
}

#subject[data-subject="Data science"] {
    color: rgba(255, 201, 200, 1);
}

#subject[data-subject="Web development"] {
    color: rgba(8, 230, 116, 1);
}

#subject[data-subject="Mobile development"] {
    color: rgba(255, 215, 51, 1);
}


@keyframes animate-field {
    0% {
        display: none;
        opacity: 0;
        transform: translateY(8px);
    }

    25% {
        display: inline-block;
        opacity: 1;
        transform: translateY(0px);
    }

    75% {
        display: inline-block;
        opacity: 1;
        transform: translateY(0px);
    }

    100% {
        display: none;
        opacity: 0;
        transform: translateY(-10px);
    }
}

/*
 Contact
*/
.contact-brand {
    margin-right: 3vw;
    display: flex;
    flex-direction: column;
    gap: 5vw;
    justify-content: center;
}

.animate-contact-brand-on-start div {
    animation: brand-animation 0.9s ease-in 0.1s backwards;
}

@keyframes brand-animation {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

.contact-brand img {
    width: 1.5rem;
}


.contact-brand div {
    width: 40px;
    height: 40px;
    display: flex;
    align-content: center;
    justify-content: center;
    border-radius: 50px;
}

/* Arrows style */
.arrow-container {
    width: 6vw;
    height: 1vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: auto;
    position: absolute;
    right: 0;
    left: 0;
    top: 67vh;
}

.arrow-inner-container {
    margin: auto;
    height: 10px;
}

.arrow-inner-container img {
    height: 20px;
}

.arrow-1 {
    position: relative;
    /* top: 18px; */
    animation: bounce 0.5s ease-in-out 100ms alternate infinite;
}

.arrow-2 {
    position: relative;
    /* bottom: 2px; */
    animation: bounce 0.5s ease-in-out 150ms alternate infinite;
}


@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(1vh);
    }
}


.hide-arrow {
    animation: animate-hide-arrow 0.5s ease-out 200ms alternate forwards;
}

@keyframes animate-hide-arrow {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    50% {
        opacity: 0.5;
        transform: translateY(13px);
    }

    100% {
        opacity: 0;
        transform: translateY(26px);
    }
}

/*
* ====== Project section =====
*/
#project-section {
    height: 100vh;
    width: 100vw;
    display: flex;
}

.main-pro-container {
    width: 90vw;
    height: 80%;
    margin: auto;
}

.pro-content-container a {
    text-decoration: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.inner-pro-container {
    padding-bottom: 12px;
}

.inner-pro-container dl {
    width: 88%;
    height: 200px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to top right,
    rgba(181, 180, 180, 0.3),
    rgba(33, 33, 33, 0.2));
    align-items: center;
    border-radius: 15px;
}

.inner-pro-container dd {
    font-size: 15px;
    display: block;
    width: 70%;
    margin-bottom: 7px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.inner-pro-container dd img {
    margin: 2px;
}

.inner-pro-container dt figure {
    width: 100%;
    margin: 15px 0 5px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.inner-pro-container figure img {
    border-radius: 50%;
}

.inner-pro-container figure figcaption {
    font-size: 13px;
    font-weight: 700;
    margin-top: 6px;
}

.icons-dd img {
    width: 12px;
}

.inner-pro-container .icons-dd {
    margin: 5px 0;
    align-items: center;
}

.pro-title-container h2 {
    margin-bottom: 8px;
    font-family: var(--sub-title-font-family), serif;
    font-weight: var(--sub-title-font-weight);
}

.pro-content-container {
    display: grid;
    grid-template-columns: 51% 51%;
    grid-row: 50;
    grid-gap: 1px;
}

.hide {
    opacity: 0;
    transition: opacity 0.2s linear 0.2s;
}

.show {
    opacity: 1;
    transition: opacity 100ms ease-in 100ms;
}

.inner-pro-container {
    opacity: 0;
    width: 100%;
}

.inner-pro-container-hide {
    position: relative;
    top: 10%;
    opacity: 0;
    transition: all 1s linear 1s;
}

.inner-pro-container-display {
    position: relative;
    top: 0;
    opacity: 1;
    transition: all 1s linear 1s;
}

