/* Main tag */
main{
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.intro-section{
    width: 100%;
    height: 100vh;
}

.intro-contents{
    width: 80%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    font-size: 25px;
    padding-left: 10px;
}

/*
 Create a design.
*/
.circle {
  width: 70%;
  height: 40vh;
  display: block;
  position: absolute;
  border-radius: 100%;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  background: linear-gradient(
          360deg, transparent 20%, lightgrey 50%);
  margin: auto;
}

.circle-1{
  position: absolute;
  right: 100px;
  background: linear-gradient(
          360deg, transparent 20%, lightgrey 50%);
}