/* Bless the you oh our LORD GOD */
/* Responsive styles for screen queries */

/* Smaller devices (phones, 280px and 328) */
@media (min-width: 280px) and (max-width: 328px) {
    .nav-container {
        display: none;
    }
}

/* Small devices (phones, 360px and 480px and max height of 7000px) */
@media (min-width: 328px) and (max-width: 480px) {
    .nav-container {
        display: none;
    }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 576px) {
    .nav-container {
        display: none;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 768px) {

    .menu-btn-container {
        display: none;
    }

    .open-aside {
        display: none;
    }

    .inner-intro-contents-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .intro-contents {
        padding-left: 0;
    }

    .contents {
        text-align: center;
        order: -1;
    }

    .contact-brand {
        width: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
        order: 1;
    }
}

/* Medium devices (landscape tablets, less than 1000px) */

@media (min-width: 1000px) and (max-height: 800px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 992px) {
    .menu-btn-container {
        display: none;
    }

    .open-aside {
        display: none;
    }

    .inner-intro-contents-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .intro-contents {
        padding-left: 0;
    }

    .contents {
        text-align: center;
        order: -1;
    }

    .contact-brand {
        width: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
        order: 1;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .menu-btn-container {
        display: none;
    }

    .open-aside {
        display: none;
    }

    .inner-intro-contents-container {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .intro-contents {
        padding-left: 0;
    }

    .contents {
        text-align: center;
        order: -1;
    }

    .contact-brand {
        width: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
        order: 1;
    }
}