/*
    === Css default variables ===
*/
:root{
    --primary-color: #edf2f4;
    --primary-bg-color: #2b2d42;
    --primary-font-family: 'Poppins', sans-serif;
}

/*
    === Clear all the defaults ===
*/
*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
main,
footer{
    margin: 2% 2% 0% 2%;
}

/* Header contents */
header{

}

.header-container{
    display: flex;
    justify-content: space-between;
}

.header-nav-container{
    width: 28%;
    text-align: center;
}

.header-nav-container nav{
    position: relative;
    top: 18%;
}

.header-nav-container nav > ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.header-nav-container nav > ul a{
    text-decoration: none;
}


/* Aside styling */
aside{
  position: absolute;
  background-color: white;
  height: 100vh;
  top: 0;
  display: none;
}




/* Portrait tablets and small desktops */
@media (max-width: 927px){
    .header-nav-container{
        display: none;
    }
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
    .header-nav-container{
        width: 25%;
        text-align: center;
        background-color: green;
    }
    
    /* Don't display the aside button and container */
    .aside-btn-container{
      display: none;
    }
}
